.App {
  text-align: center;
}

.App-header {
  background-color: #5d9255;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}


.trackCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2em;
  background-color: #888;
  max-width: 500px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 4px 4px;
  font-size: 20px;
}

.trackCard hr {
  width: 100%;
  background-color: #888;
}

.keyTempo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 28px;
  width: 100%;
}